@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --Main-Color: linear-gradient(93deg, #FF9898 0.48%, #8054FF 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
}

/* Custom main background class */
.bg-main {
  background: var(--Main-Color) !important;
}